language: python

sudo: false

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"

install:
    - pip install -r requirements.txt
    - pip install .

script:
    - nosetests
    - flake8

services:
    - elasticsearch
